# Ignore Terraform state and cache files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Ignore crash logs
crash.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore IDE/editor files
*.log
*.swp
*.bak
.idea/
.vscode/

# Terraform junk files
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
crash.log
*.zip
*.exe
*.log
*.bak

